header{
    margin: auto;
    width: 1110px;

}
.logo{
    display: inline-block;
    padding-top: 40px;
    width: 40%;

}
.logo_text{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300; 
    color: #555252;
}
/* не работает почему-то */
.logo_text::first-letter{
    font-weight: 900;
    color: #1abc9c;
}
/* так как дать header 40% а nav 60% не срабатывало пришлось выкручиваться */
nav{
    display: inline-block;
    width: 59.6%;
    text-align: right;
}
.nav_list{
    list-style-type: none;
}
.nav_list_items{
    
    color: #0f0101;
    display: inline;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;
}
.nav_link:hover{
    color: #1abc9c;
}
