h1{
    display: inline;
}
header>ul>li{
    display: inline;
}
*{
    text-align: center;
}
.goods>article>span:nth-first-child{
    display: block;
}
.goods>article{
    display: inline-block;
}
.goods{
    margin-right: 10%;
    margin-left: 10%;
}
h2{
    margin-top: 5%;
}
.name , .price{
    display: inline-block;
}
.goods>article{
    margin-bottom: 2%;
}
.goods>article:nth-child(n+2){
    margin-left: 2%;
}
.goods>article:nth-child(5){
    margin-left: 0;
}
.news>article{
    display: inline-block;
}
.news>article:nth-child(n+3){
    margin-left: 2%;
}
