.goods{
    width: 1140px;
    margin: auto;
}
.goods_volume{
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #515151;
}
.goods_volume::after{
    content: '';
    background-color: #1abc9c;
    display: block;
    width: 164px;
    height: 7px;
    margin: auto;
    margin-top: 30px;
}
.one_of_goods{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 255px;
    height: 320px;
    margin-top: 80px;
}
.goods_card{

    
    width: 255px;
    height: 320px;
    position: absolute;
}
.goods_image{
    width: 255px;
    height: 320px;
}
.goods_description{
    width: 255px;
    height: 40px;
    background-color: #323232;
    position: absolute;
    z-index: 2;
    bottom: 0;
}
.goods_name ,.goods_price{
    height: 100%;
    display: inline-block;
}
.goods_name_text ,.goods_price_text{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 900;
    height: 18px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}
.goods_name{
    margin-left: 14px;
    width: 60%;
}
.goods_name_text{
    color: #ffffff;

}
.goods_price{
    background-color: rgba(255, 255, 255,0.439);
    position: absolute;
    right: 0;
    width: 54px;
    z-index: 4;
}
.goods_price_text{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
.goods_card_hover{
    /* display: none; */
        background-color: rgb(0, 0, 0,0.549);
        
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 50px;
        top: 11px;
        transform: translateX(-50%);
        width: 235px;
        height: 260px;
        z-index: 25;   
}
.goods_card_hover{
    display: none;
}
.goods_card:hover .goods_card_hover{
    display: inline-block;
}
.goods_card:hover .goods_description{

    background-color: #1abc9c;

}
.big_button:hover , .small_button:hover{
    background-color: #1abc9c;
}
.small_button , .big_button{
    background-color: rgba(255, 255, 255, 0);
    
}

.small_buttons{
    width: 166px;
    height: 50px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 80px;
    transform: translateX(-50%);
}
.small_button{
    width: 50px;
    height: 50px;
    border: #ffffff solid;
    position: absolute;
}
.small_button_image{

}
.big_button{
    width: 166px;
    height: 50px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 135px;
    transform: translateX(-50%);
    border: #ffffff solid;
}
.big_button_image ,.big_button_text{

    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}
.big_button_image{
   position: absolute;
   left: 12px;
   
    
}
.big_button_text{
    right: 17px;
    font-family: 'Open Sans';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    width: 60%;
    height: 14px;
    color: #ffffff;
    

}
.small_button:nth-child(1){
    
    left: 0;
}
.small_button:nth-child(2){
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
.small_button:nth-child(3){
    right: 0;
}
