

/* по какой-то причине у меня padding(margin)left/right:auto;не выравнивают контент по середине.Пришлосm высчитывать все через
фотошоп в процентах */
@font-face{
    font-family: "playfairDisplay";
    src: url("../fonts/PlayfairDisplay.ttf");
  }


main{
    text-align: center;
}
/* выравнивания статей и добавление им размера */
article{
    display: inline-block;
    width: 35%;
    text-align: left;
}
main article:nth-child(1),main article:nth-child(3),main article:nth-child(5){
    padding-right:5%;
}
/* расширение всех изображений по размеру статей */
img{
    width:100%;
}
.fourArticles{
    padding-bottom: 6.8%;
}
/* расстояние до кнопки */
.lastArticles{
    padding-bottom: 2.6%;
}
button{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    width: 13.6%;
    /* в высоте у меня возникают проблема с указанием размеров процентом */
    height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    
    margin-left: 38%;
}


span{
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(180, 179, 179, 0.623);
    text-transform: uppercase;
}
/* отступ текста */
h4,p,a,button{
    font-family: "playfairDisplay",'Times New Roman', Times, serif;
}
h4,span,p{
    margin: 0;
    padding-top:7.2%;
    font-weight: normal;
}
h4{
    font-size: 38px;
    color: rgb(102, 102, 102);
}
p{
    color: rgb(129, 129, 129);
}
/* редактирование навигации(auto не выравнивает по центру) */
nav{
    text-align: center;
    padding-left: 0;
    margin-bottom: 5%;
    padding-top: 10px;
}
ul{
    padding: 0;
}
li{
    display: inline-block;
   
}

a{
    text-decoration:none;
    color: rgb(155, 164, 187);
    font-size: 17px;
    font-weight: 100;
    width: 4%;
    text-transform: uppercase;
}
.threeLinks{
    margin-right: 130px;;
}
a:hover,button:hover{
    color: rgb(0, 195, 255);
}



