.wrapper{
    
}
header{
    width: 63%;
    
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
}
.header__logo{

}
.logo__link{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.875rem;
    color: #fff;
    text-decoration: none;
}
.header__nav{
    width: 50%;
    
}
.nav__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.list__item{
    list-style: none;
}
.item__link{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #fff;
    text-transform: uppercase;
}
.item__link:hover{
    border-bottom: 3px solid #00000000;
    transition: 200ms linear;
    color: #fce38a;
    border-color: #fce38a;  
    padding-bottom: 12px;
}