footer{
    height: 60px;
    width: 1200px;
    margin: auto;  
    border-top: 1px solid #e5e5e5;
}
.license{

}
.license_text{

}
.license_text_creator{
    
}
.subscribe{

}
.subscribe_input{

}
.subscribe_button{

}