header{
    width: 1200px;
    position: absolute;
    right: 50%;
    left: 50%;
    top: 29px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}
.logo{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #95e1d3;
}
nav{
    display: inline-block;


}
.nav_list{
    display: flex;
}
.nav_list_item{
    
    margin-left: 55px;
    height: 25px;
    /* пришлось дать высоту(after  выталкивал элемент) */
    
    
}

.nav_list_link{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #bdece4;
}
.nav_list_link:hover{
    transition: color 200ms;
    color: #f38181;
    border-bottom: 3px solid #00000000;
    padding-bottom: 12px;
    transition: border-color 200ms;
    border-color: #f38181;
}
/* не могу сделать переход на цвет, этот псевдоэлемент выталкивает навигацию */
.nav_list_item:hover{

}