.wrapper{

}
header{
    padding-top: 30px;
    margin: auto;
    margin-bottom: 125px;
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.logo{
    width:  90px;
    height: 36px;

}
.logo_link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #95e1d3;
    font-size: 30px;
}
nav{
    width: 490px;
    /* навигация на одном уровне с лого */
    height: 100%;
    margin-top: auto;

}
.nav_list{
    width: 490px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.nav_list_items{
    
}
.nav_list_link{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}
.nav_list_link:hover{
    transition: 200ms linear;
    color: #f6a1a1;
    padding-bottom: 12px;
    border-bottom: 3px solid #f38181;
}