.wrapper{

}
header{
    position: absolute;
    top: 30px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 700;
    color: #95e1d3;
}
nav{
    width: 490px;
    /* навигация на одном уровне с лого */
    height: 100%;
    margin-top: auto;

}
.nav_list{
    width: 490px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.nav_list_items{
    
}
.nav_list_link{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #95e1d3;
}
.nav_list_link:hover{
    color: #95e1d3;
    transition: color 200ms linear;
    color: #f6a1a1;
    padding-bottom: 12px;
    border-bottom: 3px solid #00000000;
    transition: border-bottom 200ms linear;
    border-bottom: 3px solid #f38181;
}