main{
    
    width: 1200px;
    margin: auto;
    margin-bottom: 85px;
}
#additional_text_1{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}
#volume_name_1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #333333;
}
#volume_name_1::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: auto;
    background-color: #f38181;
    margin-top: 40px;
    margin-bottom: 60px;
}
.service_cards{
    width: 1200px;
    height: 240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    margin-bottom: 90px;
}
.service_card{
    width: 380px;
}
.service_card_image{
    /* картинка не "прилипает" к верхней грани  */
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: top;
    
}
.service_card_image_file{
    width: 30px;
    height: 30px;
}
.service_card_description{
    width: 290px;
    display: inline-block;
    margin-bottom: auto;
    margin-right: 10px;
}
.service_card_name{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}
.service_card_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    line-height: 25px;
}