.team {}
/* редактирование названия страницы */
#additional_text_2 {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

#volume_name_2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #333333;
}

#volume_name_2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: auto;
    background-color: #f38181;
    margin-top: 40px;
    margin-bottom: 45px;
}
/* история */
.story {
    width: 980px;
    margin: auto;
    margin-bottom: 95px;
}

.story_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #999999;
}
/* карточки / редактирование карточек */
.member_cards {
    width: 1200px;
    height: 550px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    /* расстояние до футера */
}

.member_card {
    width: 380px;
    height: 540px;
}

.member_card_image {
    height: 470px;
    width: 380px;
    margin-bottom: 25px;
    /* чтобы выдвинуть картинку */
    position: relative;
}

.member_card_image_file {
    height: 470px;
    width: 380px;
    position: absolute;
    /* для плавного появления */
    box-shadow: 0 0 #95e1d3;
}

.member_card_description {
    width: 370px;
}

.member_name {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #404040;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;


}

.member_post {
    text-align: center;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #a6a6a6;
}

/* редактирование анимации до появления */
.card_animation{
    /* на позиции картинки */
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(#fbe287e6 0%, #f38181bf 100%);
    width: 380px;
    height: 470px;
    z-index: -2;
    /* все прозрачное для плавного появления */
    opacity: 0;
}

 
  .share{
    position: absolute;
    width: 223px;
    height: 55px;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.share_img{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #fce38a;
    border-left: 1px solid #f9bd87;
    position: relative; 
    z-index: 4;
}
.share_img:first-child .share_img_file{
    /* иконка фейсбука тоньше */
    width: 13px;
    /* не удаляется border-left ни 0 ни none */
    border-left: none;
}

.share_img_file{
    /* выравнивание картинки по центру */
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    z-index: 6;
    
}
/* сама анимация */

.member_card_image:hover .card_animation{
    z-index: 2;
    transition: 200ms linear;
    opacity: 1;
    transform: translate(-10px,-10px);
}
.card_animation{
    transition: 200ms linear;
    opacity: 0;

}
/* сдвиг картинки */
.member_card_image:hover .member_card_image_file {
    right: 0px;
    bottom: 0px;
    transition: 200ms linear;  
    transform: translate(-10px,-10px);
    box-shadow: 10px 10px #95e1d3;
}

.member_card_image_file {
    /* картинка едет назад */
    transition: 200ms linear;  
    transform: translate(0,0);
    
}
.share_img:hover{
    transition: 200ms linear;
    background-color: #95e1d3;
    border-color: #b9bcb3;
}