* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}

a {
    text-decoration: none;
    color: #000;
}
li{
    list-style-type: none;
}
button {
    outline: none;
    border: none
}